body {
  background: linear-gradient(#9198e5, #479dff);
  text-align: center;
}
h1 {
	margin-top: 30px;
	font: bold 50px/52px sans-serif;
	color: black;
}

.links {
	margin-top: 30px;
	font: bold 20px/22px sans-serif;
	color: black;
}

.line1, .line2{
	display: inline-block;
}
